# THIS FILE IS UNDER VERSION CONTROL.  MAKE CHANGES IN YOUR REPO!!!!! #
#*********************************************************************#
[user]
  name = Mark Honomichl
  email = mark@honomichl.net
  signingkey = 0x31199E24CA8F2734
[includeIf "gitdir:~/source/nsd/"]
    path = ~/source/nsd/.gitconfig
[commit]
  gpgsign = true
[init]
	templateDir = /Users/mark.honomichl/.git-template
[push]
  autoSetupRemote = true
[gpg]
	program = /opt/homebrew/bin/gpg

